@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde: #49B251;
    --azul: #6FBED0;
    --laranja: #FCA451;
    --vermelho: #FC6851;
    --amarelo: #FCD351;
    --fonte-logotipo: "Cookie", cursive;
    --fonte-principal: "Montserrat", sans-serif;
}


@keyframes mudarCor1 {
    30% {
        color: #000;
    }
    60% {
        color: var(--verde);
    }
    100% {
        color: #000;
    }
}

@keyframes mudarCor2 {
    30% {
        color: var(--verde);
    }
    60% {
        color: #000;
    }
    100% {
        color: var(--verde);
    }
}

.titulo-login {
    animation: mudarCor1 4s infinite;
}

.destacado {
    animation: mudarCor2 4s infinite;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-principal);
    height: 100vh;
    background-image: url(../static/img/background.jpg);
}

li {
    list-style: none;
}

main {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-family: var(--fonte-logotipo);
    font-size: 3em;
    text-align: center;
}

.destaque {
    color: var(--verde);
}

.container__login {
    display: flex;
    flex-direction: column;
    background-color: var(--verde);
    height: 100%;
    padding: 3em 4em;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
}

input {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border-radius: 12px;
    border: none;
    font-size: 20px;
}

.login_buttons {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.fazer-cadastro-link {
    text-decoration: none;
    color: white;
    align-self: center;
    margin-bottom: .5rem;
    font-size: 14px;
}

.fazer-cadastro-link:hover {
    font-weight: bold;
}

.cadastro_buttons {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #49B251;
    padding: 4em 2em;
    border-radius: 25px;
}

strong {color: #49B251;}
