@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde: #49B251;
    --azul: #6FBED0;
    --laranja: #FCA451;
    --vermelho: #FC6851;
    --amarelo: #FCD351;
    --fonte-logotipo: "Cookie", cursive;
    --fonte-principal: "Montserrat", sans-serif;
}

.principal-produtos {
    margin: 3rem 0 0 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.produto {
    background-color: rgba(255, 255, 255, 0.3); 
    width: 200px;
    height: min-content;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.produto-imagem {
    height: 175px; 
    width: 175px; 
    margin-bottom: 1rem;
}

.produto-nome {
    font-weight: 600;
    font-family: var(--fonte-principal);
    font-size: 18px;
    color: #fff;
    margin-top: 1rem;
}

.produto-preco {
    color: var(--vermelho);
    margin: 1rem 0 0 0; 
    font-size: 18px;
    font-family: var(--fonte-principal);
}

.produto-botao {
    text-decoration: none;
    margin: 1rem 0 2rem 0;
    padding: .7rem 4rem;
    background-color: var(--verde);
    color: #fff;
    border-radius: 10px;
}

.produto-botao:hover {
    background-color: var(--vermelho);
}

.produto-detalhe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.detalhe-imagem {
    width: 300px;
    margin-top: 2rem;
}

.detalhe-nome {
    font-size: 24px;
    font-weight: bold;
}

.detalhe-preco {
    font-size: 20px;
}

.detalhe-descricao {
    margin: 1rem 4rem 0 4rem;
}