<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se na IFome</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <main>
        <form method="post" action="/cadastro" class="container__login">
            <div class="textos">
                <h3>IFome</h3>
                <h2>Bem vindo!</h2>
            </div>
            <input type="email" placeholder="Seu email" name="" id="">
            <input type="password" name="" placeholder="Sua senha" id="">
            <div class="login_buttons">
                <input type="submit" value="Entrar">
                <a href="#">Fazer login</a>
            </div>
        </form>
        <div class="container__textos">
            <h1>Faça seu <br> <span class="destaque">Cadastro</span></h1>
        </div>
    </main>
    
</body>
</html>