<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login na IFome</title>
    <link rel="stylesheet" href="./static/login.css">

</head>
<body>
    <main>
        <form method="POST" action="/login" class="container__cadastro">
            <h2>Bem vindo de volta!</h2>
            <input type="email" placeholder="Seu email" name="email" id="email">
            <input type="password" placeholder="Sua senha" name="password" id="password">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="login_buttons">
                <input type="submit" value="Entrar">
                <a class="fazer-cadastro-link" href="{{ url_for('cadastrar') }}">Ainda não tem conta? <br> Cadastre-se!</a>
            </div>

        </form>
        <div class="container__textos">
            <h1>Faça seu <br> <strong>Login</strong></h1>
        </div>
    </main>
    
</body>
</html>