<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifome - Meu Perfil</title>
    <link rel="stylesheet" href="../static/perfil.css">
    <link rel="stylesheet" href="../static/reset.css">
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
    const botao = document.querySelector('.perfil-botao-add');
    const form = document.querySelector('.adicionar-produto');
    const botaoCriarProduto = document.getElementById('criar-produto');

    botao.onclick = () => {
        if (form.classList.contains('desativado')) {
            form.classList.remove('desativado');
        } else {
            form.classList.add('desativado');
        }
    }

    botaoCriarProduto.onclick = () => {
        if (form.classList.contains('desativado')) {
            form.classList.remove('desativado');
        } else {
            form.classList.add('desativado');
        }
    }
})
    </script>
</head>
<body>
    <header class="cabecalho">
        <a href="{{ url_for('principal') }}" class="cabecalho-titulo">Ifome</a>
        <ul class="cabecalho-lista">
            <li class="cabecalho-item">
                <a href="{{ url_for('perfil') }}" class="item">
                    <img src="../static/img/perfil.svg" alt="perfil" class="item-img">
                </a>
            </li>
            <li class="cabecalho-item">
                <a href="{{ url_for('login') }}" class="item">
                    <img src="../static/img/sair.svg" alt="sair" class="item-img">
                </a>
            </li>
        </ul>
    </header>
    <section class="perfil">
        <h1 class="perfil-titulo">Meu Perfil</h1>
        <img src="../static/img/perfil-icone.png" alt="" class="perfil-foto">
        <div class="perfil-texto">
            <p class="perfil-email">E-mail</p>
            <p class="email">abc@gmail.com</p>
        </div>
        <button class="perfil-botao-add">
            <img src="../static/img/adicionar.svg" alt="" class="perfil-botao-img">
            <p class="perfil-botao-texto">Adicionar produto</p>
        </button>
        <form action="/perfil" method="post" class="adicionar-produto desativado enctype="multipart/form-data">
            <input required type="text" name="nome" id="nome-do-produto" class="produto-nome" placeholder="Nome do Produto">
            <p class="texto-imagem-produto">Imagem do produto:</p>
            <input required type="file" name="imagem" id="imagem-do-produto" class="produto-imagem">
            <input required type="text" name="descricao" id="descricao-do-produto" class="produto-descricao" placeholder="Descrição do Produto">
            <input required type="url" name="link" id="link-do-whatsapp" class="produto-link" placeholder="Link do Whatsapp">
            <input type="submit" value="Criar" id="criar-produto" class="botao-criar-produto">

            
        </form>
    
    </section>
</body>
<script>
    
</script>
</html>