<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifome - Página Principal</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/principal.css">
    <link rel="stylesheet" href="../static/produto.css">
    <script src="../static/js/principal.js" defer></script>
</head>
<body>
    <header class="cabecalho">
        <a href="{{ url_for('principal') }}" class="cabecalho-titulo">Ifome</a>
        <form class="cabecalho-input">
            <input type="text" placeholder="Buscar..." name="barra-de-pesquisa" id="barra-de-pesquisa" class="cabecalho-pesquisar">
            <img src="../static/img/pesquisar.svg" alt="">
        </form>
        <ul class="cabecalho-lista">
            <li class="cabecalho-item">
                <a href="{{ url_for('perfil') }}" class="item">
                    <img src="../static/img/perfil.svg" alt="perfil" class="item-img">
                </a>
            </li>
            <li class="cabecalho-item">
                <a href="{{ url_for('login') }}" class="item">
                    <img src="../static/img/sair.svg" alt="sair" class="item-img">
                </a>
            </li>
        </ul>
    </header>

    <section class="principal">
        <div class="principal-produtos">
            {% for produto in produtos %}
            <div class="produto">
                {% if produto[2] %}
                <img class="produto-imagem" src="data:image/png;base64,{{ produto[2] }}" alt="Imagem do produto">
                {% endif %}
                <h3 class="produto-nome">{{ produto[0] }}</h3>
                <p class="produto-preco">Preço: {{ produto[1] }}</p>
                <a class="produto-botao" href="{{ url_for('produto', nome=produto[0] | urlencode) }}">Comprar</a>

            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>