<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifome - Página Principal</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/principal.css">
    <link rel="stylesheet" href="../static/produto.css">
</head>
<body>
    <header class="cabecalho">
        <a href="{{ url_for('principal') }}" class="cabecalho-titulo">Ifome</a>
        <form class="cabecalho-input">
            <input type="text" placeholder="Buscar..." name="" id="" class="cabecalho-pesquisar">
            <img src="../static/img/pesquisar.svg" alt="">
        </form>
        <ul class="cabecalho-lista">
            <li class="cabecalho-item">
                <a href="{{ url_for('perfil') }}" class="item">
                    <img src="../static/img/perfil.svg" alt="perfil" class="item-img">
                </a>
            </li>
            <li class="cabecalho-item">
                <a href="{{ url_for('login') }}" class="item">
                    <img src="../static/img/sair.svg" alt="sair" class="item-img">
                </a>
            </li>
        </ul>
    </header>

    <section class="principal">
        <ul class="principal-produtos">
            <li class="produto">
                <h4 class="produto-nome">brigadeiro</h4>
                <h4 class="produto-preco">5,00</h4>
                <a class="produto-botao" href="#">Ver</a>
            </li>
            <li class="produto">
                <h4 class="produto-nome">pao</h4>
                <h4 class="produto-preco">5,00</h4>
                <a class="produto-botao" href="#">Ver</a>
            </li>
            <li class="produto">
                <h4 class="produto-nome">carne</h4>
                <h4 class="produto-preco">5,00</h4>
                <a class="produto-botao" href="#">Ver</a>
            </li>
            <li class="produto">
                <h4 class="produto-nome">pao</h4>
                <h4 class="produto-preco">5,00</h4>
                <a class="produto-botao" href="#">Ver</a>
            </li>
            <li class="produto">
                <h4 class="produto-nome">pao</h4>
                <h4 class="produto-preco">5,00</h4>
                <a class="produto-botao" href="#">Ver</a>
            </li>
            <li class="produto">
                <h4 class="produto-nome">pao</h4>
                <h4 class="produto-preco">5,00</h4>
                <a class="produto-botao" href="#">Ver</a>
            </li>
        </ul>
    </section>
</body>
</html>