<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifome - Página Principal</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/principal.css">
    <link rel="stylesheet" href=".css">
</head>
<body>
    <header class="cabecalho">
        <a href="{{ url_for('principal') }}" class="cabecalho-titulo">Ifome</a>
        <form class="cabecalho-input">
            <input type="text" placeholder="Buscar..." name="" id="" class="cabecalho-pesquisar">
            <img src="../static/img/pesquisar.svg" alt="">
        </form>
        <ul class="cabecalho-lista">
            <li class="cabecalho-item">
                <a href="{{ url_for('perfil') }}" class="item">
                    <img src="../static/img/perfil.svg" alt="perfil" class="item-img">
                </a>
            </li>
            <li class="cabecalho-item">
                <a href="{{ url_for('login') }}" class="item">
                    <img src="../static/img/sair.svg" alt="sair" class="item-img">
                </a>
            </li>
        </ul>
    </header>

</body>
</html>